*, *::before, *::after {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, rgb(24, 121, 88), rgb(101, 34, 146));
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 20px;
    border: 1px solid white;
    outline: none;
    background-color: rgba(98, 194, 162, 0.527);
}

.calculator-grid > button:hover {
    background-color: rgba(98, 194, 162, 0.192);
}

.span2 {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgb(8, 1, 8);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 15px;
    word-wrap: break-word;
    word-break: break-all;
}

.previous-operand {
    color: rgb(226, 231, 235);
    font-size: 20px;
}

.current-operand {
    color: white;
    font-size: 30px;
}